.vs/
*.diagsession
*.vspx
KikoPlay.pro.user
.qmake.stash
GeneratedFiles/
KikoPlay.VC.VC.opendb
KikoPlay.VC.db
KikoPlay.sln
KikoPlay.vcxproj
KikoPlay.vcxproj.filters
KikoPlay.vcxproj.user
Win32/
kikoplay.aps
release/
debug/
Makefile
KikoPlay
kikoplay
*.o
qrc_res.cpp
moc_*.cpp
moc_predefs.h
texture_test.jpg

# cmake build dir
build

# clangd generated dir
.cache