[Desktop Entry]
Type=Application
Name=KikoPlay
Comment=KikoPlay is a full-featured danmu player!
TryExec=KikoPlay
Exec=env QT_QPA_PLATFORM=xcb KikoPlay
Icon=io.gitHub.KikoPlayProject.KikoPlay
Terminal=false
StartupNotify=true
Categories=Qt;AudioVideo;Video;
